body {
  background-color: #554163;
  color: white;
  text-align: center;
}

form {
  text-align: center;
  margin: auto;
  width: 25vw;
  max-width: 500px;
  background-color: #c4a7d9;
  color: #000000;
}

input {
  width: 20vw;
  max-width: 400px;
  background-color: #554163;
  color: white;
}

textarea {
  width: 20vw;
  max-width: 400px;
  background-color: #554163;
  color: white;
}

a {
  color: white;
}
